<div id="content">
  <div id="banner" [style.background-color]="kolorb" [style.color]="kolort">
    Wybierz samochód marzeń:
    <select [(ngModel)]=car>
        <option [ngValue]="null">Wybierz samochód</option>
        <option *ngFor="let item of cars" [ngValue]="item">
          {{item.brand}} {{item.model}}
        </option>
    </select>
    <button type="button" (click)="changeColour()" [class.przycisk]="aktywna" [style.color]="kolort">
      Zmień kolor
    </button>
  </div>

  <app-auto [car]="car"></app-auto>
</div>

<app-syn [zmiennaInput]="zmiennaExport" (odpowiedz)="onOdpowiedz($event)"></app-syn>
Napisz cos: <input [(ngModel)]="formularz">
<app-corka [name]="formularz" *ngIf="formularz.length>0"></app-corka>

<app-dane-osobowe [dane]="daneOsobowe"></app-dane-osobowe>

<h1>
  Suma liczb wynosi {{dodawanie}}  <br>
  Roznica liczb wynosi {{odejmowanie}} <br>
  Iloczyn liczb wynosi {{mnozenie}} <br>
  Iloraz liczb wynosi {{dzielenie}} <br>
</h1>